{block content}
	<h1 n:block="title">My awesome blog</h1>
	<a n:href="Post:add" n:if="$user->isAllowed('post','add')">Add New Post</a>

	{if $user->isAllowed('postGrid','view')}
		{control postGrid}
	{/if}
{/block}
