{block content}
<div class="date">{$post->created_at|date:'F j, Y'}</div>

<h1 n:block=title>{$post->title}</h1>

<div class="post">{$post->content}</div>
{if $user->isloggedIn()}
<a n:href="Post:edit $post->id">Edit post</a>
{/if}
<h2>Comments</h2>

<h2>Post new comment</h2>

{control commentForm}

<div class="comments">
	{control commentPostGrid}
</div>
