search:
	default:
		in: %appDir%
		classes:
			- *Factory
			- *Model

services:
	- App\Model\Authenticator
	- App\Router\RouterFactory::createRouter
	- App\Core\MailSender(templatePath: %mailTemplatePath%)
	- App\Model\AuthorizatorFactory::create()
	- Nette\Caching\Cache