<div class="comments" n:snippet="comments" data-ajax-append="true">
	{foreach $comments as $comment}
		{control "postCommentGridItemMultiple-$comment->id"}
	{/foreach}
</div>
<div class="paginator">
	<a n:href="loadMore!" class="ajax">Load More</a>
</div>