<html style="background-color: #f3f3f3;">
    </head>
<body style="background-color: #f3f3f3;">
    <div class="container" style="width: 95.4%; width: 100wv; background-color: #f3f3f3; padding: 2em; position: absolute; top: 0; left: 0; text-align: center; font-family: Verdana,Arial, Helvetica, sans-serif;">
        <h1 class="nadpis" style="font-weight: 100; font-size: 3em; color: #e55252;">Learn 2 Code Nette</h1>
        <div class="contentContainer" style="margin: 3em auto; width: 25%; background: white; border-radius: 1em; position: relative; box-shadow: inset -1px 1px 7px #bdbdbd; padding: 1em 2em; border: 1px solid #eaeaea;">
            <h2>Post Inserted</h2>
            <p>
                {$title}<br>
                {$content}
            </p>
        </div>
    </div>
</body>
</html>